.background-changer-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.background-changer-container button{
    height: max-content;
    padding: 0.8rem 1.2rem;
    border-radius: 0 0 0.8rem 0.8rem;
    cursor: pointer;
}